---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/icecmach/aurabok/releases
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"cc42fb8190e3219e91e46d75f709c8b5762a1e8bf472008a702a4adf1e7dfb95"
        X-Github-Media-Type:
          - github.v3; format=json
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "59"
        X-Ratelimit-Reset:
          - "1742391658"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "1"
      body:
        encoding: ASCII-8BIT
        string: ""
    recorded_at: Wed, 19 Mar 2025 12:40:58 GMT
  - request:
      method: post
      uri: https://api.github.com/markdown
      body:
        encoding: UTF-8
        string: '{"mode":"gfm","context":"icecmach/aurabok","text":""}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/html;charset=utf-8
        X-Commonmarker-Version:
          - 0.23.10
        Etag:
          - W/"bff98cc65001c41f8dd63749dc92891772179ad935cf7a314a5e9a289fd17557"
        X-Github-Media-Type:
          - github.v3; param=raw
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "58"
        X-Ratelimit-Reset:
          - "1742391658"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "2"
      body:
        encoding: ASCII-8BIT
        string: |-
          <h2 dir="auto"></h2>
          <p dir="auto"></p>
          <p dir="auto"></p>
          <h2 dir="auto">What's Changed</h2>
          <ul dir="auto">
          </ul>
          <h2 dir="auto">New Contributors</h2>
          <ul dir="auto">
          </ul>
          <p dir="auto"><strong>Full Changelog</strong>: <a class="commit-link" href="https://github.com/icecmach/aurabok/compare/main...main"><tt>main...main</tt></a></p>
    recorded_at: Wed, 24 Dec 2025 12:40:58 GMT
recorded_with: VCR 6.3.1
